
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

&nbsp;

<h3>
    Yang Xiang
    <br />
    <br />
    <br />0432 244 656
    <br />
    <br />yangxiangjob@gmail.com
    <br />
    <br />@DateTime.Now
</h3>

