@model NumbersFun.Models.Number
@{
    ViewData["Title"] = "Home Page";
}
<div style="background-image: url('~/wwwroot/image/pexels-black-ice-1314543.jpg')">
     
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to Numbers Fun</h1>

    <div class="d-flex justify-content-center align-items-center" style= "font-size:30px; height: 40vh" >
        <form action="/numberPage"  method="post">
            <label for="number">Convert This Number</label>
            <input id="number"type="text" class="form-control" name="number" placeholder="Input number here"/>
            <input type="submit" class="btn btn-primary" value="NumbersConvert" />
        </form>
    </div>
  
</div>

@{ 
    if (ViewBag.number != null)
    {
        <div class="text-center">
            <h3>@Model.EndWord</h3>
        </div>
        }


    }

