@model NumbersFun.Models.Number
@{
    ViewData["Title"] = "Home Page";
}
<div style="background-image: url('~/wwwroot/image/pexels-black-ice-1314543.jpg')">
     
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to Numbers Fun</h1>

    <div class="d-flex justify-content-center align-items-center" style= "font-size:30px; height: 40vh" >
        <form asp-action="ConvertNumbers" asp-controller="Convert" method="post">
            <label>Convert This Number</label>
            <input type="text" class="form-control" name="numberToConvert" placeholder="Input number here"/>
            <input type="submit" class="btn btn-primary" value="Convert" />
        </form>
    </div>
  
</div>

@{ 
    if (ViewBag.number != null)
    {
        <div class="text-center">
            <h3>
                @*@ViewBag.number*@
                @ViewBag.word
            </h3>
        </div>
    }

}
